<!DOCTYPE html>
<html>
<head>
	<% include head.ejs %>
	<link rel="stylesheet" type="text/css" href="/style.css">
</head>
<body class='container'>
	<header><% include header.ejs %></header>
	<h1 class="card-title">Welcome to the clinics page!</h1>
	<p class="card-text">We have <%= clinics.length%> clinics in <%= clinics[0].city.name[0].toUpperCase() + clinics[0].city.name.slice(1)%>!</p>
	<ul class="list-group">
	<% for(var i=0; i<clinics.length;i++) { %>
		<li class="list-group-item"> <%=clinics[i].name + ' ' + clinics[i].address%></li>
	<% } %>
	</ul> 
	<footer><% include footer.ejs %></footer>
</body>
</html>
