<!DOCTYPE html>
<html>
<head>
	<% include head.ejs %>
</head>
<body class="container">
    <header><% include header.ejs %></header>
    <div class='container'>
    	<h1 id="home_page_header">Welcome!</h1>	
        <div id="result">
            <!--Position information will be inserted here-->
            
            <% if (distance !== undefined) { %>
            <p>The nearest clinic is <%= clinic.name%> at distance of <%= new Intl.NumberFormat('en-IN', {maximumFractionDigits:2}).format(distance)%> km </p>
        <% } else { %>
            <p>Find the nearest animal clinic around you</p>
        <% } %>
        </p>
        </div>
        <% if (distance === undefined) { %>
        <div id="main_button_div"> 
            <button type="button" class="btn btn-success" id="main_button" onclick="showPosition();">Find clinic</button>
        </div>

        <%}%>
        <div id='loading_animation'></div>
    </div>

    <script type="text/javascript" src="/scripts/home.js"></script>
    <footer><% include footer.ejs %></footer>
</body>
</html>


